<!DOCTYPE html>
<html>
	<!-- ///// HEADER /////////////////////////////////////////////////////////////////// -->
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<title>Thanhthu Nguyen's Final Project</title>
	</head>


	<!-- ///// BODY ///////////////////////////////////////////////////////////////////// -->
	<body>
		<div class = "header">
			<h1> DID YOU KNOW?</h1>
			<p>According to Wikipedia, there are 514 different types of dog breeds.</p>
			<p>You have to do a lot research to figure out the perfect dog for you. Here is a list of all 514 breeds for you to look through.</p>
		</div>

		<!-- ///// NAVIGATION BUTTONS /////////////////////////////////////////////////// -->
		<div class = "button">
			<p><a href = "/rescue"><strong>NEXT >> </strong></a></p>
		</div>

		<!-- ///// WIKIPEDIA INFO DISPLAY /////////////////////////////////////////////// -->
		<div class = "wikibreeds">

			<!-- ///// Table 1 ///// -->
			<table class = "wikitable1">
				<tr>
					<th></th>
					<th>BREED</th>
					<th>URL</th>
				</tr>

				{% for each in wiki_data_1 %}
				<tr>
					<td><strong>{{each[0]}}</strong></td>
					<td>{{each[1]}}</td>
					<td class = "lastcell"><a href = "{{each[2]}}" target="_blank">Information</a></td>
				</tr>
				{% endfor %}
			</table>

			<!-- ///// Table 2 ///// -->
			<table class = "wikitable2">
				<tr>
					<th></th>
					<th>BREED</th>
					<th>URL</th>
				</tr>

				{% for each in wiki_data_2 %}
				<tr>
					<td><strong>{{each[0]}}</strong></td>
					<td>{{each[1]}}</td>
					<td class = "lastcell"><a href = "{{each[2]}}" target="_blank">Information</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>