<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<title>Thanhthu Nguyen's Final Project</title>
	</head>

	<body>
		<div class = "header">
			<h1>ANIMAL SHELTERS &amp; RESCUE ORGANIZATIONS NEAR ANN ARBOR, MI</h1>
			<p>To discover the name and geographical location of each shelter, please hover over the marker.</p>
			<p>You can also zoom and shift the map as you prefer.</p>
		</div>

		<div class = "centertext">
			<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~thanhthusongnguyen/32.embed" height="525" width="100%"></iframe>
		</div>
	</body>
</html>