<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<title>Thanhthu Nguyen's Final Project</title>
	</head>

	<body>
		<div class = "header">
			<h1>HAVE YOU CONSIDERED<br/>MUTTS, MIXES OR CATS WHO BEHAVE LIKE DOGS?!</h1>
			<p>You do get some peace of mind when you purchase a pet from a breeder or authorized seller<br/>but have you thought about the IMPACT you will make if you adopt from a local animal shelter or rescue organization?</p>
		</div>

		<div class = "button">
			<p><a href = "/"><strong> << PREV</strong></a></p>
			<p><a href = "/"><strong>HOME</strong></a></p>
			<p><a href = "/breedschart"><strong>NEXT >> </strong></a></p>
		</div>

		<p class = "centertext">The table below illustrates just a few shelters that can be found in or near Ann Arbor, MI.<br/>
		If you'd like a map view of these shelters, please click below.</p>

		<div class = "button">
			<p><a href = "/rescuemap" target = "_blank"><strong>MAP</strong></a></p>
		</div>

		<form action = "/rescue" method = "POST" class = "sortform">
			<div class = "sort">
				<strong>SORT BY:</strong><br/>
				<input type="radio" name="sortby" value="name"/> Name <br/>
				<input type="radio" name="sortby" value="city"/> City <br/>
				<input type="radio" name="sortby" value="state"/> State <br/>
				<input type="radio" name="sortby" value="zipcode"/> Zipcode <br/>
			</div>
			<div class = "order">
				<strong>ORDER BY:</strong><br/>
				<input type="radio" name="sortorder" value="asc"/> Ascending <br/>
				<input type="radio" name="sortorder" value="desc"/> Descending <br/>
			</div>
			<div>
				<p class = "centertext"><input type="submit" name="update" value="Update"/></p>
			</div>
		</form>

		<div>
			<table class = "shelters">
				<tr>
					<th>NAME</th>
					<th>CITY</th>
					<th>STATE</th>
					<th>ZIPCODE</th>
				</tr>

				{% for each in shelter_list %}
				<tr>
					<td>{{each[0]}}</td>
					<td>{{each[1]}}</td>
					<td>{{each[2]}}</td>
					<td class = "lastcell">{{each[3]}}</td>
				</tr>
				{% endfor %}
				
			</table>
		</div>
	</body>
</html>